.loginForm {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}

.backgroundLogo {
  position: absolute;
  left: 24px;
  top: 24px;
  height: 34px;
  width: 185px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
}

.logoMedium{
  width: 215px;
  height: 43px;
}

.formWrapper {
  background-color: #ffffff;
  width: 945px;
  height: 508px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 80px 42px 64px 42px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/* ЛЕВАЯ ЧАСТЬ */

.logoWrapper {
  width: 505px;
  height: 333px;
  background: url("../../assets/form-images/login-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.formArea {
  width: 50%;
  height: 100%;
}

.logo {
  width: 185px;
  height: 39px;
}

/* ПРАВАЯ ЧАСТЬ */

.formArea {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  /* font-family: "Onest"; */
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.textInputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
}

.passwordWrapper{
    padding: 12px 16px;
    border: 1px solid #aab7c6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.passwordInput{
    border: none;
    padding: 0;
    width: 100%;
}

.passwordIcon{
    cursor: pointer;
    width: 20px;
    height: 10px;
}
.inputLabel {
  /* font-family: "Onest"; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1c1c1c;
}

.forgotLink {
  /* font-family: 'Onest'; */
  padding-left: 200px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #070C24;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.textInput {
  padding: 12px 16px;
  border: 1px solid #aab7c6;
  border-radius: 8px;
}

.passwordNotice {
  /* font-family: 'Onest'; */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.button {
  padding: 16px 56px;
  background: #2f52e0;
  border-radius: 8px;
  border: none;
  /* font-family: "Onest"; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.closeIcon {
  width: 20px;
  height: 20px;
  background: url("../../assets/img/close-form-img.svg") no-repeat center;
  position: absolute;
  right: 25px;
  top: 25px;
  border: none;
  cursor: pointer;
}
