.formBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(232, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  width: 454px;
  height: 555px;
  background: #ffffff;
  box-shadow: 0px 4px 161px rgba(47, 82, 224, 0.1);
  border-radius: 8px;
  position: relative;
}

.illustrator {
  height: 235px;
  width: 252px;
  margin-top: 98.5px;
  margin-left: 101px;
  margin-right: 101px;
  border-radius: 0px;
  background: url('../../assets/img/img-success-recovPass.svg');
}

.header {
  height: 31px;
  /* font-family: 'Onest'; */
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #070C24;
  margin-top: 24px;
}

.textContent {
  /* font-family: Onest; */
  padding-top: 24px;
  margin-left: 49px;
  margin-right: 49px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.close {
  width: 20px;
  height: 20px;
  background: url("../../assets/img/close-form-img.svg") no-repeat center;
  position: absolute;
  right: 25px;
  top: 25px;
  border: none;
  cursor: pointer;
}
